
body {
    color: #19183B;
    background: #A1C2BD;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
     "slnt" 0,
     "wdth" 100,
     "GRAD" 0,
     "XOPQ" 96,
     "XTRA" 468,
     "YOPQ" 79,
     "YTAS" 750,
     "YTDE" -203,
     "YTFI" 738,
     "YTLC" 514,
     "YTUC" 712;
}

html {
    color: #19183B;
}

h1 {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

.accent-color {
    background: #E7F2EF;
    color: #19183B;
}

button {
    border: #19183B;
}