{% include "header.html" %}

<!--TODO implement navbar -->
<div class='px-4 pt-5 my-5 text-center border-bottom'><h1 class='display-4 fw-bold text-body-emphasis'>LLM-Supported Code Review Tool</h1>
    <div class='col-lg-6 mx-auto'><p class='lead mb-4'>Make it easier to identify bugs using our LLM and statistical approach to bug localization.
        Select a repository to get started! </p>
        <div class='d-grid gap-2 d-sm-flex justify-content-sm-center mb-5'>
            <!--TODO link to selection page -->
            <a href = "{{ url_for('select_repo') }}"class='btn btn-primary btn-lg px-4 me-sm-3 accent-color button-border'>Select Repository </a>
<!--        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>-->
        </div>
    </div>
    <!--TODO insert example image -->
<!--    <div class='overflow-hidden' style='max-height: 30vh;'>-->
<!--        <div class='container px-5'><img src='bootstrap-docs.png' class='img-fluid border rounded-3 shadow-lg mb-4'-->
<!--                                         alt='Example image' width='700' height='500' loading='lazy'></div>-->
<!--    </div>-->
</div>

{% include "footer.html" %}